name: Deploy shiny-test-deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: [ self-hosted, shiny ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy app using server-side script
        run: |
          TEMP_DIR="${GITHUB_WORKSPACE}/app"
          sudo bash /usr/local/bin/shiny_deploy.sh shiny-test-deploy "$TEMP_DIR"
